body {
    background-color: black;

}

body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    background-image: url(../Images/fake_virus_image.jpg);
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
 
  .bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px;
  }

ul {
    white-space: nowrap;

}
  

  li {
    margin: auto;
    display: inline;
    
    }
    
    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    li a:hover {
    background-color: #782bd4;
    opacity: .85;
    
    
    }

    img {
        width: auto;
        height: auto;
    }



    a {
        color: white;
    }

    .center {
      text-align: center;
      }

    .textbox {
        padding: 10px;
        border: 10cm solid gray;

    }

    form {
      display: flex;
      justify-content: center;
  }
  
  .desc {
      display: flex;
      justify-content: center;
  }
  
  .desc p {
      width: 560px;
      color: rgba(253, 253, 253, 0.514);
  }
  
input {
      background: none;
      backdrop-filter: blur(20px);
      font-family: inherit;
      padding: 0px 17px;
      height: 48px;
      border: 1px solid rgb(255, 255, 255, .2);
      color: var(--text-color);
      border-radius: 3px;
      outline: none;
      width: 350px;
      margin-top: 5px;
      border-radius: 50px;
      color: #FFF;
  }
  
input:focus {
      border: 1px solid rgba(253, 253, 253, 0.514);
      border-radius: 6px;
      animation: fadeInAnimation ease-in-out 0.3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
  }