h3 {
  color: white;
  font-size: 24px;
  margin: 20px 0 0 20px;
  
}

h1 {
  color: white;
  font-size: x;
}

body {
  background: #94d3a2;
}

#jsn-maincontent_inner h3 {
  padding:3px 8px;
  text-transform:uppercase;
}
#jsn-maincontent_inner h3 span {
  background-color:#BBB1A5;
  color:white;
}

p {
  color: white;
  font-weight: 400;
  font-size: 16px;
  align-self: end;
  margin: 0 0 20px 20px;
  letter-spacing: 0.5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 2rem;

}

.card {
  height: 215px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  font-family: "Poppins", sans-serif;
}

img {
  position: absolute;
  top: 0;
  height: 105%;
  width: 100%;
  z-index: -1;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.card:hover {
  transform: scale(1.035, 1.035);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.card:hover img {
  transform: translateY(-10px);
}

.darken {
   opacity: .9;
   background-color: black;
   filter: brightness(50%);
}

a {
  text-decoration: none;
}

.container span {
  display: block;
  height: 6.5rem;
  content: "";
}

.nSpan {
  display: block;
  height: 6.5rem;
  content: "";
}

.header {
  width: 100%;
  color:white;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
  bottom: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
  width: 100%;
  bottom: 0;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}


.game {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  margin: auto;
  width: fit-content;
  border-radius: 15px;
  transition: 0.1s;
}

.game a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline;
  width: fit-content;
}

.game :active {
  background-color: #782bd4;
}

.game a:hover {
  background-color: #782bd4;
  transform: scale(1.035, 1.035) translateY(-2px);
}



html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  opacity: 0;
  visibility: collapse;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
  opacity: .2;
}

::-webkit-scrollbar-track {
  background-color: black;
  opacity: .2;
  visibility: collapse;
  z-index: -1;
}

::-webkit-scrollbar :hover {
  opacity: .5;
}