h1 {
color: white;
font-size: larger;

}
body {
background-color: #050216;
}

a {
color: #a2a1f1;

}


h3 {
color: white;
text-align: center;

}

p {
color: gray;


}

h1 {
color: white;
font-size: larger;

}

iframe {
width: 500px;
height: 500px;



}


ol {
color: #989897;

}

ul {
top: 0%;
list-style-type: none;
margin: 0%;
padding: 0%;
overflow: hidden;
background-color: #333;
position: sticky;
width: 100%;
}

li {
float: left;

}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #782bd4;
opacity: .85;


}



html {
scroll-behavior: smooth;

}

html ::-webkit-scrollbar {
width: 20px;

}
html ::-webkit-scrollbar-track {
background-color: 255,0,0,0,.1;
border-radius: 25px;
}html::-webkit-scrollbar-thumb {
background: #363434;
border-radius: 25px;
    }


.divfloatright {
    display: block;
    background-color: #050216;
    opacity: .9;
    border: 1px solid;
    width: 50%;
    height: fit-content;
    overflow: auto;
    margin: 0% auto;
    position: fixed;

}


  .text-center {
    text-align: center;
    padding: 10px;
}