
ol {
    color: #989897;
}
    
ul {
    top: 0%;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    width: 100%;
}
    
li {
    float: left;
    
}
    
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
li a:hover {
    background-color: #782bd4;
    opacity: .85;
    
    
}
    
   


h1 {
font-size: x-large;
color: white;
text-align: center;

}

h3 {
color: white;
text-align: center;

}

p {
    color: gray;
    text-align: center;
}

body {
background-color: black;


}

.button {
    border-radius: 25%;


}


img {
    width: 800;
    height: 500px;
    

}


video:hover {
    animation-play-state: running;
    opacity: .85;
}

/*Code to Copy Text*/

.box {
    overflow: auto;
    padding: .1%;
    width: 24.9%;
    border: 5px solid gray;
    margin: auto;
}

