canvas {
  padding-left: 0;
  padding-right: 0;
  border: 2px solid grey;
}

h1 {
  color: white;
  text-align: center;
}


body {
  background-color: black;
  margin: 0;
  padding-top: 2em;
}

a {
  color: white;
}

a:hover {
  color: purple;
}

.subheader {
  color: white;
  user-select: none;
  font-family: "Arial";
}

.column-left {
  float: left;
  width: 33.333%;
  text-align: left;
}

.column-center {
  display: inline-block;
  width: 33.333%;
  text-align: center;
}

.column-right {
  float: right;
  width: 33.333%;
  text-align: right;
}

.title {
  text-align: center;
  font-family: "Arial";
  color: white;
  user-select: none;
}

.wrapper {
  font-size: 0; /* get rid of extra spacing due to font-size */
  padding-top: 10px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}

#titleWrapper {
  font-size: initial;
  padding-bottom: 12px;
}

#menuWrapper {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-bottom: 3px;
  margin-bottom: 15px;
  background-color: rgb(60, 60, 60);
  overflow: auto;
  font-family: "Arial";
  font-size: 14px;
  user-select: none;
  position: relative;
  color: #7a6699;
  width: inherit;
}

#elementTable {
  border-collapse: collapse;
  float: left;
}

.elementMenuButton {
  background: none;
  border: none;
  text-align: left;
  user-select: none;
  width: 100%;
  height: 100%;
}

.elementMenuButton:hover {
  background-color: rgb(10, 10, 10);
  color: white !important;
}

.elementMenuButton:active {
  background-color: rgb(100, 100, 100);
  color: white !important;
}

.selectedElementMenuButton {
  outline: 1px solid white;
}

.optionsCol {
  float: left;
}

.spigotType {
  width: 75px;
}

#speedSliderDiv {
  margin-top: 4px;
  margin-bottom: 8px;
}

#speedSlider {
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to right, purple, red);
  outline: none;
  -webkit-appearance: none;
}

#optionsCol2 {
  padding-left: 4px;
}

#fps-counter {
  position: absolute;
  bottom: 1px;
  right: 1px;
}

.optionButton {
  font-size: inherit;
  font-family: inherit;
  user-select: none;
  border: none;
  outline: none;
}

.optionButtonContainer {
  margin-top: 4px;
}

#clearButton:hover {
  background-color: purple;
}

#clearButton:active {
  background-color: purple;
}

#saveButton:hover {
  background-color: purple;
}

#saveButton:active {
  background-color: hotpink;
}

#loadButton:hover {
  background-color: purple;
}

#loadButton:active {
  background-color: hotpink;
}

#penSizeDiv {
  margin-bottom: 2px;
}



