
ol {
    color: #989897;
}
    
ul {
    top: 0%;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    width: 100%;
}
    
li {
    float: left;
    
}
    
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
li a:hover {
    background-color: #782bd4;
    opacity: .85;
    
    
}
    
    
    
html {
    scroll-behavior: smooth;
    
}
    
html ::-webkit-scrollbar {
    width: 20px;
    
}

html ::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
}

html::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 25px;
}

h1 {
font-size: x-large;
color: white;

}

h3 {
color: white;
text-align: center;

}

p {
    color: gray;
    text-align: center;
}

body {
background-color: black;


}





.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


* {
margin: 0%;
padding: 0%;
box-sizing: border-box;

}.container {

    position: absolute;
    
}

.label {
    padding: 10px;
    font-size: 18px;
    color: #111;


}

.copy-text {
    position: relative;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
}

.copy-text input text {
    padding: 10px;
    font-size: 18px;
    color: #555;
    border: none;
    outline: none;
}

.copy-text button {
    padding: 10px;
    background: #5784f5;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.divsubtext {
    background-color: darkgray;
    color: white;
    display: block;


}

.divsubtext:hover {
    opacity: .9;

}