body {
    background-color: gray;
}

ol {
    color: #989897;
    
}
    
    ul {
    top: 0%;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    width: 100%;
    }
    
    li {
    float: left;
    
    }
    
    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    li a:hover {
    background-color: #782bd4;
    opacity: .85;
    
    
    }

h1 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
}

h3 {
    text-align: center;
    color: white;
}