h1 {
color: white;
font-size: larger;
}

body {
background-image: url(Images/purple_background.jpg);
background-size: cover;
background-repeat: no-repeat;
}



a {
color: #a2a1f1;

}


h3 {
color: white;
text-align: center;

}

p {
color: gray;


}

h1 {
color: white;
font-size: xx-large;
text-align: center;
}

iframe {
width: 500px;
height: 500px;



}

/*NAVBAR*/
ol.navbar {
color: #989897;

}

ul.navbar {
top: 0%;
list-style-type: none;
margin: 0%;
padding: 0%;
background-color: #333;
position: sticky;
width: 100%;
}

li.navbar {
float: left;

}

li a.navbar {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover.navbar {
background-color: #782bd4;
opacity: .85;


}


.navbar {
  
  background-color: #333;
  font-family: Arial;
}


.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #782bd4;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

END OF NAVBAR*/

.divfloatright {
    display: block;
    background-color: #050216;
    opacity: .9;
    border: 1px solid;
    width: 50%;
    height: fit-content;
    overflow: auto;
    margin: 0% auto;
    position: fixed;

}

/*Scroll Bar*/
  .text-center {
    text-align: center;
    padding: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  opacity: .5;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  color: slategrey;
  opacity: .2;
}

/*End of scroll bar*/

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }


  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }


.column img {
width: 800px;
height: 400px;

}


.row img {
    width: 500px;
    height: 400px;

}

.foreground{
  position:absolute;
  height:75%;
  width:75%;
  color: white;
  opacity:0.3;
  pointer-events:none;
}


div.transbox {
  background-color: #000;
  color: #fff;
  opacity: .5;
  width: 75%;
  margin: auto;
}

div.transbox p {
  color: white;
  opacity: 1;
}

div.transbox h1 {
  color: white;
  opacity: 1;
}

div.transbox h3 {
  color: white;
  opacity: 1;
}

div.sources ul {
  list-style-type: none;
  color: white;
  background-color: none;
}