html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  color:white;
  background-color:#111;	
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

canvas{
	flex-shrink: 0;
	background-color:#000;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
	}